* { margin:0; padding:0; box-sizing:border-box; }

body { /* Visual */
    background: black;
    color: white;
  }
  form {color: white;
  }


.modal-title, .modal-body{
     color:black
    }
  #display {
    font-family:'Roboto', sans-serif;
    font-size: 300px;
    color: white;
    width: 100%;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: black;
  }
  
  #wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
  
  #buttons { /* Typography */
    text-align: center;
  }
  
 
  #lapContainer{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #laps {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Roboto' sans-serif;
    width: 30%;
    height: 200px;
    font-size: 200px;
    color: white;
  
  }
 
  
 
 
   